x4o-core/src/main/resources/META-INF/eld/eld-root-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ==================================================================== -->
<!-- =====  Automatic generated schema for language: eld            ===== -->
<!-- ==================================================================== -->
<!--
	ProviderName:	eld.x4o.org
	ModuleName:		Element Language Definition
	Namespaces:		3
	Namespace:		http://eld.x4o.org/xml/ns/eld-root
	Created on:		Sun Nov 18 06:22:58 CET 2012
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
 xmlns:conv="http://eld.x4o.org/xml/ns/eld-conv"
 xmlns:lang="http://eld.x4o.org/xml/ns/eld-lang"
 version="1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://eld.x4o.org/xml/ns/eld-root">
	<import namespace="http://eld.x4o.org/xml/ns/eld-conv" schemaLocation="eld-conv-1.0.xsd"/>
	<import namespace="http://eld.x4o.org/xml/ns/eld-lang" schemaLocation="eld-lang-1.0.xsd"/>
	<element name="module">
		<complexType>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element ref="lang:attributeHandler"/>
				<element ref="lang:bean"/>
				<element ref="lang:bindingHandler"/>
				<element ref="lang:classBindingHandler"/>
				<element ref="lang:configuratorGlobal"/>
				<element ref="lang:description"/>
				<element ref="lang:elementInterface"/>
				<element ref="lang:namespace"/>
			</choice>
			<attribute name="id" type="string" use="required"/>
			<attribute name="name" type="string"/>
			<attribute name="sourceResource" type="string"/>
			<attribute name="elementLanguageModuleLoader" type="string"/>
			<attribute name="providerName" type="string"/>
			<attribute name="description" type="string"/>
		</complexType>
	</element>
</schema>