x4o-driver/src/main/resources/META-INF/cel/cel-root-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2004-2014, Willem Cazander
    All rights reserved.

    Redistribution and use in source and binary forms, with or without modification, are permitted provided
    that the following conditions are met:

    * Redistributions of source code must retain the above copyright notice, this list of conditions and the
      following disclaimer.
    * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and
      the following disclaimer in the documentation and/or other materials provided with the distribution.

    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY
    EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
    MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL
    THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
    SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
    OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
    HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
    TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
    SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

-->
<!-- ==================================================================== -->
<!-- =====  Automatic generated schema for language: cel            ===== -->
<!-- ==================================================================== -->
<!--
	Id:                  cel-module
	ProviderName:        Core Element Languag Module
	ProviderHost:        cel.x4o.org
	Namespaces:          2
	Uri:                 http://cel.x4o.org/xml/ns/cel-root
	Uri schema           http://cel.x4o.org/xml/ns/cel-root-1.0.xsd
	Created on:          Sun Sep 01 12:08:48 CEST 2013
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
 xmlns:cel-core="http://cel.x4o.org/xml/ns/cel-core"
 version="1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://cel.x4o.org/xml/ns/cel-root">
	<import namespace="http://cel.x4o.org/xml/ns/cel-core" schemaLocation="cel-core-1.0.xsd"/>
	<element name="module">
		<complexType>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element ref="cel-core:bindingHandler"/>
				<element ref="cel-core:configuratorGlobal"/>
				<element ref="cel-core:description"/>
				<element ref="cel-core:elementInterface"/>
				<element ref="cel-core:namespace"/>
			</choice>
			<attribute name="id" type="string" use="required"/>
			<attribute name="providerHost" type="string" use="required"/>
			<attribute name="languageModuleLoader" type="string"/>
			<attribute name="sourceResource" type="string"/>
			<attribute name="providerName" type="string"/>
			<attribute name="description" type="string"/>
		</complexType>
	</element>
</schema>
