x4o-driver/src/main/resources/META-INF/cel/cel-root-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ==================================================================== -->
<!-- =====  Automatic generated schema for language: cel            ===== -->
<!-- ==================================================================== -->
<!--
	ID:		cel-module
	ProviderName:	Core Element Languag Module
	ProviderHost:		cel.x4o.org
	Namespaces:		2
	Namespace:		http://cel.x4o.org/xml/ns/cel-root
	Created on:		Sun Apr 28 11:41:33 CEST 2013
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
 xmlns:cel-core="http://cel.x4o.org/xml/ns/cel-core"
 version="1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://cel.x4o.org/xml/ns/cel-root">
	<import namespace="http://cel.x4o.org/xml/ns/cel-core" schemaLocation="cel-core-1.0.xsd"/>
	<element name="module">
		<complexType>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element ref="cel-core:attributeHandler"/>
				<element ref="cel-core:bindingHandler"/>
				<element ref="cel-core:configuratorGlobal"/>
				<element ref="cel-core:description"/>
				<element ref="cel-core:elementInterface"/>
				<element ref="cel-core:namespace"/>
			</choice>
			<attribute name="id" type="string" use="required"/>
			<attribute name="providerHost" type="string" use="required"/>
			<attribute name="sourceResource" type="string"/>
			<attribute name="languageModuleLoader" type="string"/>
			<attribute name="providerName" type="string"/>
			<attribute name="description" type="string"/>
		</complexType>
	</element>
</schema>
