x4o-driver/src/main/resources/META-INF/cel/cel-core-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--  ====================================================================  -->

<!--  =====  Automatic generated schema for language: cel            =====  -->

<!--  ====================================================================  -->

<!-- 
	ID:		cel-module
	ProviderName:	Core Element Languag Module
	ProviderHost:	cel.x4o.org
	Namespaces:		2
	Uri:			http://cel.x4o.org/xml/ns/cel-core
	Uri schema:	http://cel.x4o.org/xml/ns/cel-core-1.0.xsd
	Created on:		Sat Aug 24 22:02:08 CEST 2013
 -->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
 xmlns:this="http://cel.x4o.org/xml/ns/cel-core"
 version="1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://cel.x4o.org/xml/ns/cel-core">
	<complexType name="attributeType">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="attributeAlias" type="this:attributeAliasType"/>
			<element name="classConverter" type="this:classConverterType"/>
			<element name="description" type="this:descriptionType"/>
		</choice>
		<attribute name="required" type="boolean"/>
		<attribute name="defaultValue" type="string"/>
		<attribute name="runResolveEL" type="boolean"/>
		<attribute name="runConverters" type="boolean"/>
		<attribute name="objectConverter" type="string"/>
		<attribute name="runBeanValue" type="boolean"/>
		<attribute name="writeOrder" type="integer"/>
		<attribute name="description" type="string"/>
		<attribute name="id" type="string"/>
	</complexType>
	<complexType name="classConverterType">
		<choice minOccurs="0" maxOccurs="unbounded"/>
	</complexType>
	<complexType name="namespaceAttributeType">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="description" type="this:descriptionType"/>
		</choice>
		<attribute name="bean.class" type="string" use="required"/>
		<anyAttribute/>
	</complexType>
	<complexType name="namespaceType">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="description" type="this:descriptionType"/>
			<element name="element" type="this:elementType"/>
			<element name="namespaceAttribute" type="this:namespaceAttributeType"/>
		</choice>
		<attribute name="uri" type="string" use="required"/>
		<attribute name="name" type="string"/>
		<attribute name="schemaUri" type="string"/>
		<attribute name="schemaResource" type="string"/>
		<attribute name="languageRoot" type="boolean"/>
		<attribute name="schemaPrefix" type="string"/>
		<attribute name="elementNamespaceInstanceProvider" type="string"/>
		<attribute name="prefixMapping" type="string"/>
		<attribute name="description" type="string"/>
		<attribute name="id" type="string"/>
	</complexType>
	<complexType name="descriptionType">
		<simpleContent>
			<extension base="string">
				<anyAttribute/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="bindingHandlerType">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="description" type="this:descriptionType"/>
		</choice>
		<attribute name="id" type="string" use="required"/>
		<attribute name="bean.class" type="string" use="required"/>
		<anyAttribute/>
	</complexType>
	<complexType name="elementType">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="attribute" type="this:attributeType"/>
			<element name="configurator" type="this:configuratorType"/>
			<element name="description" type="this:descriptionType"/>
			<element name="elementParent" type="this:elementParentType"/>
		</choice>
		<attribute name="objectClass" type="string"/>
		<attribute name="elementClass" type="string"/>
		<attribute name="autoAttributes" type="boolean"/>
		<attribute name="schemaContentBase" type="string"/>
		<attribute name="schemaContentComplex" type="boolean"/>
		<attribute name="schemaContentMixed" type="boolean"/>
		<attribute name="description" type="string"/>
		<attribute name="id" type="string"/>
	</complexType>
	<complexType name="configuratorGlobalType">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="description" type="this:descriptionType"/>
		</choice>
		<attribute name="bean.class" type="string" use="required"/>
		<attribute name="configAction" type="string"/>
		<anyAttribute/>
	</complexType>
	<complexType name="attributeAliasType">
		<choice minOccurs="0" maxOccurs="unbounded"/>
		<attribute name="name" type="string" use="required"/>
		<anyAttribute/>
	</complexType>
	<complexType name="configuratorType">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="description" type="this:descriptionType"/>
		</choice>
		<attribute name="bean.class" type="string" use="required"/>
		<attribute name="configAction" type="string"/>
		<anyAttribute/>
	</complexType>
	<complexType name="elementInterfaceType">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="attribute" type="this:attributeType"/>
			<element name="configurator" type="this:configuratorType"/>
			<element name="description" type="this:descriptionType"/>
			<element name="elementParent" type="this:elementParentType"/>
		</choice>
		<attribute name="interfaceClass" type="string"/>
		<attribute name="description" type="string"/>
		<attribute name="id" type="string"/>
	</complexType>
	<complexType name="elementParentType">
		<choice minOccurs="0" maxOccurs="unbounded"/>
		<attribute name="tag" type="string" use="required"/>
		<attribute name="uri" type="string"/>
		<anyAttribute/>
	</complexType>
	<element name="attribute" type="this:attributeType">
		<annotation>
			<documentation xml:lang="en">Defines xml element attribute.</documentation>
		</annotation>
	</element>
	<element name="classConverter" type="this:classConverterType">
		<annotation>
			<documentation xml:lang="en">Converts string attribute to java class instance.</documentation>
		</annotation>
	</element>
	<element name="namespaceAttribute" type="this:namespaceAttributeType">
		<annotation>
			<documentation xml:lang="en">Defines generic namespace attribute for language.</documentation>
		</annotation>
	</element>
	<element name="namespace" type="this:namespaceType">
		<annotation>
			<documentation xml:lang="en">Defines an xml namespace.</documentation>
		</annotation>
	</element>
	<element name="description" type="this:descriptionType">
		<annotation>
			<documentation xml:lang="en">Adds description as text on all eld elements.</documentation>
		</annotation>
	</element>
	<element name="bindingHandler" type="this:bindingHandlerType">
		<annotation>
			<documentation xml:lang="en">Defines generic binding handler for languge.</documentation>
		</annotation>
	</element>
	<element name="element" type="this:elementType">
		<annotation>
			<documentation xml:lang="en">Defines xml element tag.</documentation>
		</annotation>
	</element>
	<element name="configuratorGlobal" type="this:configuratorGlobalType">
		<annotation>
			<documentation xml:lang="en">Define generic global configuator for languge.</documentation>
		</annotation>
	</element>
	<element name="attributeAlias" type="this:attributeAliasType">
		<annotation>
			<documentation xml:lang="en">Adds an attribute alias.</documentation>
		</annotation>
	</element>
	<element name="configurator" type="this:configuratorType">
		<annotation>
			<documentation xml:lang="en">Define generic configurator for language.</documentation>
		</annotation>
	</element>
	<element name="elementInterface" type="this:elementInterfaceType">
		<annotation>
			<documentation xml:lang="en">Defines element interface class.</documentation>
		</annotation>
	</element>
	<element name="elementParent" type="this:elementParentType">
		<annotation>
			<documentation xml:lang="en">Added (meta) element parent.</documentation>
		</annotation>
	</element>
</schema>
