x4o-core/src/main/resources/META-INF/cel/cel-core-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ==================================================================== -->
<!-- =====  Automatic generated schema for language: cel            ===== -->
<!-- ==================================================================== -->
<!--
	ProviderName:	cel.x4o.org
	ModuleName:		Core Element Languag Module
	Namespaces:		2
	Namespace:		http://cel.x4o.org/xml/ns/cel-core
	Created on:		Sun Nov 18 06:22:14 CET 2012
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
 xmlns:this="http://cel.x4o.org/xml/ns/cel-core"
 version="1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://cel.x4o.org/xml/ns/cel-core">
	<complexType name="namespaceType">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="element" type="this:elementType"/>
		</choice>
		<attribute name="uri" type="string" use="required"/>
		<attribute name="name" type="string"/>
		<attribute name="prefixMapping" type="string"/>
		<attribute name="schemaResource" type="string"/>
		<attribute name="schemaPrefix" type="string"/>
		<attribute name="languageRoot" type="boolean"/>
		<attribute name="elementNamespaceInstanceProvider" type="string"/>
		<attribute name="schemaUri" type="string"/>
		<attribute name="id" type="string"/>
		<attribute name="description" type="string"/>
	</complexType>
	<complexType name="descriptionType">
		<simpleContent>
			<extension base="string">
				<anyAttribute/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="elementType">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="attribute" type="this:attributeType"/>
			<element name="configurator" type="this:configuratorType"/>
			<element name="description" type="this:descriptionType"/>
			<element name="elementParent" type="this:elementParentType"/>
		</choice>
		<attribute name="objectClass" type="string"/>
		<attribute name="elementClass" type="string"/>
		<attribute name="tag" type="string"/>
		<attribute name="schemaContentBase" type="string"/>
		<attribute name="schemaContentComplex" type="boolean"/>
		<attribute name="schemaContentMixed" type="boolean"/>
		<attribute name="autoAttributes" type="boolean"/>
		<attribute name="id" type="string"/>
		<attribute name="description" type="string"/>
	</complexType>
	<complexType name="configuratorGlobalType">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="description" type="this:descriptionType"/>
		</choice>
		<attribute name="bean.class" type="string" use="required"/>
		<attribute name="configAction" type="string"/>
		<anyAttribute/>
	</complexType>
	<complexType name="configuratorType">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="description" type="this:descriptionType"/>
		</choice>
		<attribute name="bean.class" type="string" use="required"/>
		<attribute name="configAction" type="string"/>
		<anyAttribute/>
	</complexType>
	<complexType name="attributeHandlerType">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="description" type="this:descriptionType"/>
		</choice>
		<attribute name="bean.class" type="string" use="required"/>
		<anyAttribute/>
	</complexType>
	<complexType name="attributeType">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="classConverter" type="this:classConverterType"/>
			<element name="description" type="this:descriptionType"/>
		</choice>
		<attribute name="name" type="string"/>
		<attribute name="defaultValue" type="string"/>
		<attribute name="runResolveEL" type="boolean"/>
		<attribute name="runConverters" type="boolean"/>
		<attribute name="runBeanFill" type="boolean"/>
		<attribute name="objectConverter" type="string"/>
		<attribute name="required" type="boolean"/>
		<attribute name="id" type="string"/>
		<attribute name="description" type="string"/>
	</complexType>
	<complexType name="classConverterType">
		<choice minOccurs="0" maxOccurs="unbounded"/>
	</complexType>
	<complexType name="bindingHandlerType">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="description" type="this:descriptionType"/>
		</choice>
		<attribute name="id" type="string" use="required"/>
		<attribute name="bean.class" type="string" use="required"/>
		<anyAttribute/>
	</complexType>
	<complexType name="elementInterfaceType">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="attribute" type="this:attributeType"/>
			<element name="bindingHandler" type="this:bindingHandlerType"/>
			<element name="configurator" type="this:configuratorType"/>
			<element name="description" type="this:descriptionType"/>
		</choice>
		<attribute name="interfaceClass" type="string"/>
		<attribute name="id" type="string"/>
		<attribute name="description" type="string"/>
	</complexType>
	<complexType name="elementParentType">
		<choice minOccurs="0" maxOccurs="unbounded"/>
		<attribute name="tag" type="string" use="required"/>
		<attribute name="uri" type="string"/>
		<anyAttribute/>
	</complexType>
	<element name="namespace" type="this:namespaceType"/>
	<element name="description" type="this:descriptionType"/>
	<element name="element" type="this:elementType"/>
	<element name="configuratorGlobal" type="this:configuratorGlobalType"/>
	<element name="configurator" type="this:configuratorType"/>
	<element name="attributeHandler" type="this:attributeHandlerType"/>
	<element name="attribute" type="this:attributeType"/>
	<element name="classConverter" type="this:classConverterType"/>
	<element name="bindingHandler" type="this:bindingHandlerType"/>
	<element name="elementInterface" type="this:elementInterfaceType"/>
	<element name="elementParent" type="this:elementParentType"/>
</schema>