x4o-core/src/main/resources/META-INF/cel/cel-root-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ==================================================================== -->
<!-- =====  Automatic generated schema for language: cel            ===== -->
<!-- ==================================================================== -->
<!--
	ProviderName:	cel.x4o.org
	ModuleName:		Core Element Languag Module
	Namespaces:		2
	Namespace:		http://cel.x4o.org/xml/ns/cel-root
	Created on:		Thu Dec 20 22:30:55 CET 2012
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
 xmlns:cel-core="http://cel.x4o.org/xml/ns/cel-core"
 version="1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://cel.x4o.org/xml/ns/cel-root">
	<import namespace="http://cel.x4o.org/xml/ns/cel-core" schemaLocation="cel-core-1.0.xsd"/>
	<element name="module">
		<complexType>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element ref="cel-core:attributeHandler"/>
				<element ref="cel-core:bindingHandler"/>
				<element ref="cel-core:configuratorGlobal"/>
				<element ref="cel-core:description"/>
				<element ref="cel-core:elementInterface"/>
				<element ref="cel-core:namespace"/>
			</choice>
			<attribute name="name" type="string"/>
			<attribute name="providerName" type="string"/>
			<attribute name="elementLanguageModuleLoader" type="string"/>
			<attribute name="sourceResource" type="string"/>
			<attribute name="description" type="string"/>
			<attribute name="id" type="string"/>
		</complexType>
	</element>
</schema>