x4o-driver/src/main/resources/META-INF/eld/eld-root-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--  ====================================================================  -->

<!--  =====  Automatic generated schema for language: eld            =====  -->

<!--  ====================================================================  -->

<!-- 
	ID:		eld-module
	ProviderName:	Element Language Definition
	ProviderHost:	eld.x4o.org
	Namespaces:		3
	Uri:			http://eld.x4o.org/xml/ns/eld-root
	Uri schema:	http://eld.x4o.org/xml/ns/eld-root-1.0.xsd
	Created on:		Sat Aug 24 21:57:18 CEST 2013
 -->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
 xmlns:conv="http://eld.x4o.org/xml/ns/eld-conv"
 xmlns:lang="http://eld.x4o.org/xml/ns/eld-lang"
 version="1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://eld.x4o.org/xml/ns/eld-root">
	<import namespace="http://eld.x4o.org/xml/ns/eld-conv" schemaLocation="eld-conv-1.0.xsd"/>
	<import namespace="http://eld.x4o.org/xml/ns/eld-lang" schemaLocation="eld-lang-1.0.xsd"/>
	<element name="module">
		<complexType>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element ref="lang:bean"/>
				<element ref="lang:bindingHandler"/>
				<element ref="lang:classBindingHandler"/>
				<element ref="lang:configuratorGlobal"/>
				<element ref="lang:description"/>
				<element ref="lang:elementInterface"/>
				<element ref="lang:namespace"/>
			</choice>
			<attribute name="id" type="string" use="required">
				<annotation>
					<documentation xml:lang="en">The module id.</documentation>
				</annotation>
			</attribute>
			<attribute name="providerName" type="string">
				<annotation>
					<documentation xml:lang="en">The provider name in normal en:lang.</documentation>
				</annotation>
			</attribute>
			<attribute name="providerHost" type="string" use="required">
				<annotation>
					<documentation xml:lang="en">The provider host like langx.someorg.domain for uri/etc defaults.</documentation>
				</annotation>
			</attribute>
			<attribute name="languageModuleLoader" type="string"/>
			<attribute name="sourceResource" type="string"/>
			<attribute name="description" type="string"/>
		</complexType>
	</element>
</schema>
